@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,bold");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: "Quicksand";
  color: black;
  margin: 0;
  margin-right: 15px;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  font-size: 2.1em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.15em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.85em;
}

a {
  outline: none;
  text-decoration: none;
  font-weight: 400;
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  border: none;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}

section {
  margin-left: -15px !important;
  margin-right: -15px !important;
}

.go-top {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: #F8270D;
  transition: 500ms;
  z-index: 1000;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  transform: translateY(100px);
}
.go-top:hover {
  background: #F8270D;
}
.go-top:hover span:nth-child(1) {
  transform: rotate(-35deg);
  left: 7px;
  top: 18px;
}
.go-top:hover span:nth-child(2) {
  transform: rotate(35deg);
  left: 19px;
  top: 18px;
}
.go-top span {
  position: absolute;
  top: 20px;
  width: 15px;
  height: 2px;
  background: white;
  transition: 0.2s;
}
.go-top span:nth-child(1) {
  left: 5px;
}
.go-top span:nth-child(2) {
  left: 20px;
}

button:focus {
  outline: none;
}

input:focus,
select:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 39, 13, 0.5);
}

.overlay-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  display: none;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  display: none;
  background: rgba(0, 0, 0, 0.2);
}
.overlay.overlay-in {
  display: block;
  cursor: url("../img/cursor.png"), auto;
}

.bread-crumb {
  padding: 30px 0;
  color: black;
  margin-bottom: 30px;
  background: #f4f4f4;
  text-align: center;
  border-top: 1px solid #e1e1e1;
}
.bread-crumb .breadcrumb {
  background: none;
  padding: 0;
  margin-bottom: 0;
  justify-content: center;
}
.bread-crumb .breadcrumb .breadcrumb-item:first-child::before {
  content: none;
}
.bread-crumb .breadcrumb .breadcrumb-item:before {
  content: "";
  font-family: fontAwesome;
  padding-left: 10px;
  padding-right: 15px;
}
.bread-crumb .breadcrumb .breadcrumb-item:hover {
  color: #F8270D;
}
.bread-crumb .breadcrumb .breadcrumb-item.active {
  color: #F8270D;
}

.xzoom-source img,
.xzoom-preview img,
.xzoom-lens img {
  z-index: 1051;
}

.modal {
  cursor: url("../img/cursor.png"), auto;
  z-index: 1050;
}

.mfp-bg {
  z-index: 1052;
}

.mfp-wrap {
  z-index: 1053;
}

.swal2-popup .swal2-styled.swal2-confirm {
  background: #F8270D;
}
.swal2-popup .swal2-styled.swal2-confirm a {
  font-weight: 500;
}

.pagination {
  margin-bottom: 30px;
  margin-top: 10px;
}
.pagination .page-item .page-link {
  background: none;
  border: 1px solid #cccccc;
  color: #5E5E5E;
  border-radius: 3px;
  transition: 0.5s;
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
}
.pagination .page-item .page-link:hover, .pagination .page-item .page-link.active {
  background: #F8270D;
  color: white;
  border-color: #F8270D;
}

.ui-widget.ui-widget-content {
  z-index: 1050;
}

.header-top {
  background: #f4f4f4;
  padding: 13px 0;
}
.header-top ul {
  margin: 0 -10px;
}
.header-top ul li {
  display: inline-block;
}
.header-top ul li a {
  padding: 0 10px;
  border-right: 1px solid #cccccc;
  font-weight: 500;
  transition: 0.5s;
}
.header-top ul li a:hover {
  color: #F8270D;
}
.header-top ul li i {
  color: #F8270D;
  padding-right: 5px;
}
.header-top ul li i.mdi-facebook-box {
  color: #3b5999;
}
.header-top ul li:last-child a {
  border-right: 0;
}

.header-bottom .logo {
  margin: 15px 0;
}
.header-bottom .logo img {
  height: 80px;
  transition: 0.3s;
}
.header-bottom .logo img:hover {
  filter: brightness(0.7);
}
.header-bottom .search form {
  position: relative;
}
.header-bottom .search input {
  height: 50px;
  border: 0;
  border-bottom: 1px solid #e1e1e1;
  border-radius: 0;
  margin: 30px 0;
}
.header-bottom .search input:focus {
  box-shadow: none;
  border-color: #F8270D;
}
.header-bottom .search button {
  background: none;
  border: 0;
  position: absolute;
  font-size: 30px;
  cursor: pointer;
  top: 0;
  right: 10px;
  color: #969696;
  transition: 0.5s;
}
.header-bottom .search button:hover {
  color: #F8270D;
}
.header-bottom .cart-btn {
  margin: 35px 0;
  display: flex;
  text-transform: uppercase;
  background: #F8270D;
  color: white;
  padding: 7px 20px 7px 10px;
  float: right;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
}
.header-bottom .cart-btn:hover {
  background: black;
}
.header-bottom .cart-btn:hover .cart-icon span {
  background: #F8270D;
}
.header-bottom .cart-btn .cart-icon {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid white;
}
.header-bottom .cart-btn .cart-icon span {
  position: absolute;
  font-size: 8px;
  background: black;
  width: 12px;
  height: 12px;
  text-align: center;
  line-height: 12px;
  border-radius: 50%;
  margin-left: -5px;
  transition: 0.5s;
}

.cart {
  width: 400px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background: white;
  z-index: 1000;
  transform: translateX(100%);
  transition: 0.3s;
  display: grid;
  grid-template-rows: 100px calc(100% - 160px) 60px;
}
.cart.cart-out {
  transform: none;
}
.cart-header {
  padding: 30px 20px;
  background: #F8270D;
  color: white;
}
.cart-header h3 {
  font-weight: bold;
  margin-top: 5px;
}
.cart-header i {
  font-size: 24px;
  margin-top: -10px;
}
.cart-header i.cart-close {
  cursor: pointer;
  transition: 0.5s;
}
.cart-header i.cart-close:hover {
  color: black;
}
.cart-header span {
  position: absolute;
  background: black;
  font-size: 10px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 50%;
  bottom: 0;
  margin-left: -10px;
}
.cart-body {
  padding: 15px;
  max-height: 100%;
  overflow-y: scroll;
}
.cart-body::-webkit-scrollbar {
  width: 5px;
}
.cart-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.cart-body::-webkit-scrollbar-thumb {
  background: #888;
}
.cart-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.cart-body .box-product-cart {
  display: flex;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.cart-body .box-product-cart img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.cart-body .box-product-cart-detail h5 {
  margin-bottom: 5px;
}
.cart-body .box-product-cart-detail h5 a {
  font-weight: 500;
  transition: 0.2s;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.cart-body .box-product-cart-detail h5 a:hover {
  color: #F8270D;
}
.cart-body .box-product-cart-detail-quantity input {
  background: none;
  border: 0;
  width: 35px;
  margin-left: 20px;
  font-size: 14px;
  margin-bottom: 5px;
}
.cart-body .box-product-cart-detail-quantity button {
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
  background: black;
  border: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  color: white;
  line-height: 19px;
}
.cart-body .box-product-cart-detail-quantity button:hover {
  background: #F8270D;
}
.cart-body .box-product-cart-detail h4 {
  font-weight: bold;
  color: #F8270D;
}
.cart-footer {
  z-index: 10;
  background: white;
  margin-top: 20px;
}
.cart-footer a {
  padding: 7px 15px;
  margin: 0 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
  background: #959595;
  border: 2px solid #959595;
  color: white;
  font-size: 16px;
  transition: 0.5s;
}
.cart-footer a:hover {
  color: white;
  border-color: #F8270D;
  background: #F8270D;
}
.cart-footer a:nth-child(1) {
  color: #5E5E5E;
  background: none;
}
.cart-footer a:nth-child(1):hover {
  color: #F8270D;
}

.menu {
  position: relative;
  z-index: 999;
  background: #252525;
  border-top: 1px solid #383838;
  border-bottom: 1px solid #383838;
  height: 60px;
  color: white;
}
.menu .currency {
  margin: 12px 0;
  width: 130px;
  float: right;
}
.menu.menu-down {
  position: fixed;
  width: 100%;
  right: 15px;
  top: 0;
}
.menu .main-menu {
  position: relative;
}
.menu .main-menu .toggleMenu {
  cursor: pointer;
  display: none;
  color: black;
  margin: 10px 0;
  z-index: 10000;
  transition: 500ms;
}
.menu .main-menu .toggleMenu i {
  font-size: 26px;
}
.menu .main-menu .nav {
  display: block;
  margin: 17px 0;
}
.menu .main-menu .nav li {
  padding: 0 15px;
  transition: 0.5s;
  display: inline-block;
}
.menu .main-menu .nav li i {
  color: white;
  padding-left: 5px;
  font-size: 20px;
  transition: 0.5s;
}
.menu .main-menu .nav li .active {
  color: #F8270D;
}
.menu .main-menu .nav li a {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  transition: 0.5s;
}
.menu .main-menu .nav li a:hover {
  color: #F8270D;
}

.banner {
  background: #f4f4f4;
  padding-top: 30px;
  padding-bottom: 15px;
  margin-bottom: 30px;
}
.banner .banner-in {
  background: white;
  padding: 30px;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: 250px calc(100% - 280px);
  grid-column-gap: 30px;
}
.banner .banner-in img {
  padding-bottom: 30px;
  transition: 0.3s;
}
.banner .banner-in img:hover {
  filter: brightness(0.7);
}
.banner .banner-in iframe {
  padding-bottom: 30px;
}
.banner .banner-in .category {
  position: relative;
  margin-bottom: 30px;
}
.banner .banner-in .category ul {
  height: 405px;
  overflow: hidden;
}
.banner .banner-in .category ul.ul-more {
  height: auto;
}
.banner .banner-in .category ul li {
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
}
.banner .banner-in .category ul li a {
  transition: 0.5s;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-weight: 500;
}
.banner .banner-in .category ul li a:hover {
  color: #F8270D;
}
.banner .banner-in .category ul li a:hover i {
  transform: rotate(90deg);
  color: #F8270D;
}
.banner .banner-in .category ul li a i {
  float: right;
  transition: 0.3s;
  font-size: 20px;
  margin-top: -5px;
}
.banner .banner-in .category ul li ul {
  position: absolute;
  left: 280px;
  width: 250px;
  z-index: 10;
  background: white;
  top: -30px;
  padding: 30px 20px;
  border-left: 1px solid #F8270D;
  height: calc(100% + 30px);
  margin-bottom: -30px;
  transform: translateX(-50%) scaleX(0);
  transition: 0.3s;
}
.banner .banner-in .category ul li ul.ul-out {
  transform: translateX(0) scaleX(1);
}
.banner .banner-in .category ul li ul li {
  padding-bottom: 5px;
  border-bottom: 0;
  padding-left: 0;
}
.banner .banner-in .category ul li ul li a {
  font-weight: 400;
}
.banner .banner-in .category ul li ul li::before {
  content: none;
}
.banner .banner-in .category ul li ul li i {
  margin-right: 5px;
  float: none;
  font-size: 14px;
  margin-top: 0;
}
.banner .banner-in .category .view-more, .banner .banner-in .category .view-less {
  color: #F8270D;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
}
.banner .banner-in .category .view-more:hover, .banner .banner-in .category .view-less:hover {
  letter-spacing: 2px;
}
.banner .banner-in .category .view-more i, .banner .banner-in .category .view-less i {
  float: right;
  font-size: 20px;
  margin-top: -5px;
}
.banner .service {
  margin-top: 10px;
}
.banner .service .box-service {
  display: flex;
  overflow: hidden;
}
.banner .service .box-service:hover i {
  transform: scale(3) translateX(30px);
  opacity: 0.1;
}
.banner .service .box-service i {
  font-size: 40px;
  margin-right: 10px;
  transition: 0.5s;
}
.banner .service .box-service-detail h5 {
  font-weight: 500;
  margin-top: 10px;
  z-index: 2;
}
.banner .service .box-service-detail h6 {
  color: #757575;
  font-weight: 500;
}

.product-5 {
  margin-bottom: 10px;
}
.product-5 .container {
  position: relative;
}
.product-5 .title-cate {
  margin-bottom: 30px;
}
.product-5 .title-cate h2 a {
  font-weight: bold;
  text-transform: uppercase;
  background: white;
  padding-right: 20px;
  position: relative;
  z-index: 2;
  width: auto;
  font-size: 24px;
  cursor: default;
}
.product-5 .dash-title {
  height: 1px;
  width: 95%;
  background: #e1e1e1;
  position: absolute;
  top: 18px;
  left: 0;
  margin-left: 15px;
}
.product-5 .title-right {
  position: absolute;
  top: 10px;
  right: 100px;
  background: white;
  z-index: 2;
  padding-left: 15px;
}
.product-5 .title-right .view-all a {
  padding: 5px 15px;
  font-size: 14px;
  color: #5E5E5E;
  border: 1px solid #5e5e5e;
  border-radius: 3px;
  transition: 0.3s;
}
.product-5 .title-right .view-all a:hover {
  border-color: #F8270D;
  color: #F8270D;
}
.product-5 .owl-theme .owl-nav {
  position: absolute;
  right: 0;
  top: -76px;
  background: white;
  padding-left: 10px;
}
.product-5 .owl-theme .owl-nav button {
  width: 30px;
  height: 30px;
  border: 1px solid #959595;
  border-radius: 3px;
  transition: 0.3s;
  font-size: 16px;
}
.product-5 .owl-theme .owl-nav button:hover {
  background: #F8270D;
  border-color: #F8270D;
  color: white;
}

.box-product {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  position: relative;
  margin-bottom: 20px;
}
.box-product-status {
  position: absolute;
  top: 10px;
  right: 10px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  z-index: 2;
}
.box-product-status span.new {
  background: black;
  width: 40px;
  padding: 2px 0;
  display: block;
  margin-bottom: 5px;
  border-radius: 3px;
}
.box-product-status span.sale {
  background: #F8270D;
  width: 40px;
  padding: 2px 0;
  display: block;
  border-radius: 3px;
}
.box-product-img {
  overflow: hidden;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.box-product-img:hover img {
  transform: scale(1.2);
  filter: brightness(0.7);
}
.box-product-img:hover .box-product-img-custom {
  transform: none;
}
.box-product-img img {
  transition: 0.3s;
}
.box-product-img-custom {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
  transform: translateY(-100%);
  transition: 0.5s;
}
.box-product-img-custom i {
  color: white;
  font-size: 20px;
  display: block;
  padding: 0 5px;
  margin-bottom: 10px;
  transition: 0.3s;
  border-radius: 50%;
}
.box-product-img-custom i:hover {
  background: #F8270D;
}
.box-product-detail {
  border-top: 1px solid #e1e1e1;
  padding: 15px 5px;
}
.box-product-detail h6 {
  color: #9A9A9A;
  margin-bottom: 5px;
}
.box-product-detail h5 {
  margin-bottom: 5px;
}
.box-product-detail h5 a {
  font-weight: 500;
  transition: 0.3s;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.box-product-detail h5 a:hover {
  color: #F8270D;
}
.box-product-detail h4 {
  text-decoration: none;
  color: #F8270D;
  font-weight: bold;
}
.box-product-detail h4 span {
  color: #9A9A9A;
  text-decoration: line-through;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 400;
}
.box-product-detail p {
  display: none;
}

.quickview {
  cursor: url("../img/cursor.png"), auto;
}
.quickview .modal-content {
  cursor: default;
}
.quickview .modal-content .modal-body img {
  margin-bottom: -5px;
}
.quickview .modal-content .modal-body h2 {
  font-weight: bold;
  margin-bottom: 15px;
}
.quickview .modal-content .modal-body h5 {
  margin-bottom: 15px;
}
.quickview .modal-content .modal-body h4 {
  color: #F8270D;
  font-weight: bold;
  margin-bottom: 15px;
}
.quickview .modal-content .modal-body h4 span {
  font-weight: 400;
  color: #585858;
  text-decoration: line-through;
  margin-left: 20px;
}
.quickview .modal-content .modal-body p {
  margin-bottom: 20px;
  color: #656565;
}
.quickview .modal-content .modal-body input {
  width: 40px;
  height: 40px;
  padding-left: 5px;
  margin: 0 5px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  margin-bottom: 20px;
  padding-top: 3px;
}
.quickview .modal-content .modal-body .cart-btn {
  border: 2px solid #F8270D;
}
.quickview .modal-content .modal-body .cart-btn:hover {
  background: none;
  border-color: black;
}
.quickview .modal-content .modal-body .xzoom-thumbs a {
  background: none;
  margin: 1px;
}
.quickview .modal-content .modal-body .xzoom-thumbs .xactive {
  border: 1px solid #F8270D;
}
.quickview .modal-content .modal-body .tags {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #e1e1e1;
}
.quickview .quantity span {
  margin-right: 5px;
}
.quickview .quantity input {
  background: none;
  border: 0;
  width: 35px;
  margin-left: 20px;
  font-size: 16px;
  margin-bottom: 5px;
}
.quickview .quantity button {
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
  background: black;
  border: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  color: white;
  line-height: 19px;
}
.quickview .quantity button:hover {
  background: #F8270D;
}
.quickview .quantity button.custom-cart {
  background: #F8270D;
  border: 0;
  padding: 0 14px;
  height: 40px;
  width: auto;
  text-transform: uppercase;
  line-height: 40px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.5s;
  border: 1px solid #F8270D;
  margin-left: 10px;
}
.quickview .quantity button.custom-cart:hover {
  color: #F8270D;
  background: none;
}
.quickview .quantity .custom-wishlist {
  background: white;
  margin-left: 5px;
  border: 1px solid white;
}
.quickview .quantity .custom-wishlist:hover {
  border-color: #F8270D;
}
.quickview .tags span a {
  color: #F8270D;
}
.quickview .tags span a:hover {
  text-decoration: underline;
}

.modal-img {
  position: relative;
}
.modal-img .owl-theme .owl-nav button.owl-prev,
.modal-img .owl-theme .owl-nav button.owl-next {
  position: absolute;
  top: 30% !important;
  font-size: 30px !important;
  transition: 0.5s;
  color: #666;
  border: 0 !important;
  width: 0 !important;
  height: 0 !important;
}
.modal-img .owl-theme .owl-nav button.owl-prev:hover,
.modal-img .owl-theme .owl-nav button.owl-next:hover {
  color: #F8270D !important;
}
.modal-img .owl-theme .owl-nav button.owl-prev:focus,
.modal-img .owl-theme .owl-nav button.owl-next:focus {
  outline: none;
}
.modal-img .owl-theme .owl-nav button.owl-prev {
  left: 0;
}
.modal-img .owl-theme .owl-nav button.owl-next {
  right: 0;
}

.banner-mid .box-banner-mid {
  overflow: hidden;
  margin-bottom: 30px;
}
.banner-mid .box-banner-mid:hover img {
  transform: scale(1.2) rotate(3deg);
}
.banner-mid .box-banner-mid img {
  transition: 1s;
  border-radius: 5px;
}

.care {
  background: #f4f4f4;
  padding: 30px 0;
  position: relative;
  margin-bottom: 30px;
}
.care .title-cate {
  margin-bottom: 30px;
}
.care .title-cate h2 a {
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  font-size: 24px;
  cursor: default;
}
.care .box-care {
  border-radius: 5px;
  background: white;
  padding: 15px 0;
}
.care .box-care img {
  height: 90px;
  margin-bottom: 10px;
  width: auto;
  margin: auto;
  margin-bottom: 10px;
  transition: 0.3s;
}
.care .box-care img:hover {
  filter: brightness(0.7);
}
.care .box-care h5 {
  margin: 0 10px;
}
.care .box-care h5 a {
  transition: 0.3s;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.care .box-care h5 a:hover {
  color: #F8270D;
}
.care .owl-theme .owl-nav {
  position: absolute;
  right: 0;
  top: -80px;
  padding-left: 10px;
}
.care .owl-theme .owl-nav button {
  width: 30px;
  height: 30px;
  border: 1px solid #959595;
  border-radius: 3px;
  transition: 0.3s;
  font-size: 16px;
}
.care .owl-theme .owl-nav button:hover {
  background: #F8270D;
  border-color: #F8270D;
  color: white;
}

.home-bot .product-5 {
  margin-bottom: 30px;
  position: relative;
}
.home-bot .product-5 .title-right {
  right: 85px;
}
.home-bot .banner-bot img {
  transition: 0.3s;
  border-radius: 5px;
  margin-bottom: 30px;
}
.home-bot .banner-bot img:hover {
  filter: brightness(0.7);
}

.category-bot {
  margin-bottom: 50px;
}
.category-bot-in {
  background: #f4f4f4;
  padding: 15px;
}
.category-bot-in .box-category-bot {
  background: white;
  padding: 10px;
  transition: 0.1s;
  border-radius: 3px;
}
.category-bot-in .box-category-bot:hover {
  background: #e1e1e1;
}
.category-bot-in .box-category-bot:hover h5 {
  color: #F8270D;
}
.category-bot-in .box-category-bot img {
  height: 70px;
  width: auto;
  margin: auto;
  margin-bottom: 10px;
}
.category-bot-in .box-category-bot h5 {
  height: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: 0.1s;
}

.footer {
  background: #252525;
  color: white;
  padding-top: 30px;
}
.footer .info h2 {
  font-weight: bold;
  margin-bottom: 15px;
  color: #F8270D;
}
.footer .info p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  transition: 0.1s;
  line-height: 2;
}
.footer .contact ul li {
  margin-bottom: 30px;
}
.footer .contact ul li h4 {
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
.footer .contact ul li h5 {
  color: #C8C8C8;
}
.footer .link h4, .footer .category-footer h4 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer .link ul li, .footer .category-footer ul li {
  padding-bottom: 15px;
}
.footer .link ul li a, .footer .category-footer ul li a {
  transition: 0.3s;
  color: #C8C8C8;
}
.footer .link ul li a:hover, .footer .category-footer ul li a:hover {
  color: #F8270D;
  padding-left: 5px;
}
.footer .category-footer ul li {
  display: inline-block;
  width: 49%;
}
.footer .footer-bot {
  padding: 15px 0;
  border-top: 1px solid #383838;
}
.footer .footer-bot i {
  font-size: 20px;
  margin-left: 10px;
  color: #c8c8c8;
  transition: 0.3s;
}
.footer .footer-bot i:hover {
  color: #F8270D;
}

.product-page .container {
  display: grid;
  grid-template-columns: 250px calc(100% - 280px);
  grid-column-gap: 30px;
}
.product-page .left .category-left {
  border-radius: 5px;
  border: 1px solid #F8270D;
  margin-bottom: 30px;
}
.product-page .left .category-left h4 {
  text-transform: uppercase;
  background: #F8270D;
  color: white;
  padding: 18px 10px;
  font-weight: bold;
}
.product-page .left .category-left h4 i {
  float: right;
  font-size: 24px;
  margin-top: -7px;
}
.product-page .left .category-left #productCate {
  padding: 10px;
  padding-bottom: 20px;
}
.product-page .left .category-left #productCate .list-cate-title-li {
  display: block;
  padding: 15px 0;
  border-bottom: 1px solid #e1e1e1;
}
.product-page .left .category-left #productCate .list-cate-title-li a {
  font-weight: 500;
  transition: 0.3s;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  z-index: 10;
  padding-right: 15px;
  position: relative;
}
.product-page .left .category-left #productCate .list-cate-title-li a:hover {
  color: #F8270D;
}
.product-page .left .category-left #productCate .list-cate-title-li a.active {
  color: #F8270D;
}
.product-page .left .category-left #productCate .list-cate-title-li a.active i {
  transform: rotate(180deg);
}
.product-page .left .category-left #productCate .list-cate-title-li i {
  float: right;
  font-size: 20px;
  margin-top: -25px;
  transition: 0.3s;
}
.product-page .left .category-left #productCate .list-cate {
  background: none;
  padding: 0;
  box-shadow: none;
  padding-top: 15px;
  border-bottom: 1px solid #e1e1e1;
}
.product-page .left .category-left #productCate .list-cate ul li {
  padding-bottom: 15px;
}
.product-page .left .category-left #productCate .list-cate ul li a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  transition: 0.3s;
}
.product-page .left .category-left #productCate .list-cate ul li a:hover {
  color: #F8270D;
}
.product-page .left .category-left #productCate .list-cate ul li a i {
  padding-right: 5px;
}
.product-page .left .origin, .product-page .left .filter-price {
  margin-bottom: 30px;
}
.product-page .left .origin .check-box, .product-page .left .filter-price .check-box {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
}
.product-page .left .origin .check-box input, .product-page .left .filter-price .check-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.product-page .left .origin .checkmark, .product-page .left .filter-price .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}
.product-page .left .origin .check-box:hover input ~ .checkmark, .product-page .left .filter-price .check-box:hover input ~ .checkmark {
  background-color: #ccc;
}
.product-page .left .origin .check-box input:checked ~ .checkmark, .product-page .left .filter-price .check-box input:checked ~ .checkmark {
  background-color: #F8270D;
}
.product-page .left .origin .checkmark:after, .product-page .left .filter-price .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.product-page .left .origin .check-box input:checked ~ .checkmark:after, .product-page .left .filter-price .check-box input:checked ~ .checkmark:after {
  display: block;
}
.product-page .left .origin .check-box .checkmark:after, .product-page .left .filter-price .check-box .checkmark:after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 13px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.product-page .left .origin .check-box:hover, .product-page .left .filter-price .check-box:hover {
  color: #F8270D;
}
.product-page .left .filter-done {
  border: 2px solid #F8270D;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  color: #F8270D;
  margin-bottom: 30px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}
.product-page .left .filter-done::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.product-page .left .filter-done::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F8270D;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: right;
  transform: scaleX(0);
}
.product-page .left .filter-done:hover::after {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scale(1);
}
.product-page .left .filter-done:hover {
  color: white;
  border-color: #F8270D;
}
.product-page .left h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}
.product-page .left .seller-product {
  margin-bottom: 30px;
}
.product-page .left .seller-product .box-product-seller {
  display: flex;
}
.product-page .left .seller-product .box-product-seller-img img {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  width: 110px;
  transition: 0.3s;
}
.product-page .left .seller-product .box-product-seller-img img:hover {
  filter: brightness(0.7);
}
.product-page .left .seller-product .box-product-seller-detail {
  margin-left: 10px;
}
.product-page .left .seller-product .box-product-seller-detail h6 {
  color: #707070;
  margin-bottom: 5px;
}
.product-page .left .seller-product .box-product-seller-detail h5 {
  margin-bottom: 5px;
}
.product-page .left .seller-product .box-product-seller-detail h5 a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  transition: 0.3s;
  font-weight: 500;
}
.product-page .left .seller-product .box-product-seller-detail h5 a:hover {
  color: #F8270D;
}
.product-page .left .seller-product .box-product-seller-detail p {
  text-decoration: none;
  color: #F8270D;
  font-weight: bold;
  font-size: 14px;
}
.product-page .left .seller-product .box-product-seller-detail p span {
  color: #9A9A9A;
  text-decoration: line-through;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 400;
}
.product-page .left .banner-left {
  margin-bottom: -30px;
}
.product-page .left .banner-left img {
  border-radius: 5px;
  margin-bottom: 30px;
  transition: 0.3s;
}
.product-page .left .banner-left img:hover {
  filter: brightness(0.7);
}
.product-page .main h2 {
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.product-page .main .main-custom {
  display: grid;
  grid-template-columns: 180px calc(100% - 380px) 200px;
  margin-bottom: 30px;
}
.product-page .main .main-custom span {
  margin-right: 5px;
}
.product-page .main .main-custom .type {
  margin-top: 7px;
}
.product-page .main .main-custom .type i {
  padding: 7px 9px;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  margin-right: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.product-page .main .main-custom .type i.active, .product-page .main .main-custom .type i:hover {
  background: #F8270D;
  color: white;
  border-color: #F8270D;
}
.product-page .main .main-custom .sort select {
  height: 35px;
  width: 200px;
  display: inline-block;
}
.product-page .main .main-custom .sort select:focus {
  box-shadow: none;
  border-color: #F8270D;
}
.product-page .main .main-custom .view select {
  display: inline-block;
  width: 45px;
  height: 35px;
  padding: 0;
  margin-right: 5px;
}
.product-page .main .main-custom .view select:focus {
  box-shadow: none;
  border-color: #F8270D;
}
.product-page .main .main-product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-template-rows: auto;
}
.product-page .main .main-product.main-product-list {
  grid-template-columns: 1fr;
  grid-column-gap: 30px;
}
.product-page .main .main-product.main-product-list .box-product {
  display: flex;
}
.product-page .main .main-product.main-product-list .box-product-status {
  left: 10px;
}
.product-page .main .main-product.main-product-list .box-product-img {
  width: 40%;
  display: inline-block;
  overflow: inherit;
}
.product-page .main .main-product.main-product-list .box-product-img:hover img {
  transform: none;
  filter: brightness(1);
}
.product-page .main .main-product.main-product-list .box-product-img img {
  border-radius: 5px;
}
.product-page .main .main-product.main-product-list .box-product-img img:hover {
  filter: brightness(0.7);
}
.product-page .main .main-product.main-product-list .box-product-img-custom {
  background: #F8270D;
  transform: none;
  bottom: 20px;
  right: -65px;
  top: inherit;
  left: inherit;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.product-page .main .main-product.main-product-list .box-product-img-custom:hover {
  background: black;
}
.product-page .main .main-product.main-product-list .box-product-img-custom:hover .custom-cart::after {
  background: black;
}
.product-page .main .main-product.main-product-list .box-product-img-custom i {
  display: inline-block;
  margin-bottom: 0;
  padding: 5px 10px;
}
.product-page .main .main-product.main-product-list .box-product-img-custom .custom-quickview {
  display: none;
}
.product-page .main .main-product.main-product-list .box-product-img-custom .custom-cart::after {
  content: "THÊM VÀO GIỎ";
  background: #F8270D;
  color: white;
  position: absolute;
  top: 0;
  left: 30px;
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.5s;
}
.product-page .main .main-product.main-product-list .box-product-detail {
  text-align: left !important;
  width: calc(60% - 30px);
  border-top: 0;
  padding: 15px;
  z-index: 2;
  margin-left: 15px;
}
.product-page .main .main-product.main-product-list .box-product-detail p {
  display: block;
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #e1e1e1;
  margin-bottom: 50px;
}
.product-page .main .product-detail-1-img .xzoom-thumbs {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 0 50px;
  position: relative;
}
.product-page .main .product-detail-1-img .xzoom-thumbs .xzoom-gallery:hover {
  border-color: #F8270D;
}
.product-page .main .product-detail-1-img .xzoom-thumbs .xactive {
  border-color: #F8270D;
  box-shadow: 0px 0px 3px 0px #F8270D;
}
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-prev,
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-next {
  position: absolute;
  top: 40%;
  font-size: 30px;
  transition: 0.5s;
  transform: translateY(-50%);
}
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-prev:hover, .product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-prev:focus,
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-next:hover,
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-next:focus {
  color: #F8270D;
  background: none;
  outline: none;
}
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-prev {
  left: -12%;
}
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-next {
  right: -12%;
}
.product-page .main .product-detail-1-detail {
  color: #585858;
  margin-bottom: 30px;
}
.product-page .main .product-detail-1-detail h2 {
  font-weight: bold;
  margin-bottom: 15px;
  color: black;
}
.product-page .main .product-detail-1-detail h4 {
  color: #F8270D;
  font-weight: bold;
  margin-bottom: 20px;
}
.product-page .main .product-detail-1-detail h4 span {
  color: #585858;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 30px;
}
.product-page .main .product-detail-1-detail h5 {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e1e1e1;
}
.product-page .main .product-detail-1-detail .quantity a {
  margin: 0 10px;
  transition: 0.5s;
}
.product-page .main .product-detail-1-detail .quantity a:hover {
  color: #F8270D;
}
.product-page .main .product-detail-1-detail .quantity input {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #959595;
  background: none;
  color: #585858;
  outline-color: #F8270D;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-left: 5px;
}
.product-page .main .product-detail-1-detail .quantity button {
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
  background: black;
  border: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  color: white;
  line-height: 19px;
}
.product-page .main .product-detail-1-detail .quantity button:hover {
  background: #F8270D;
}
.product-page .main .product-detail-1-detail .quantity button.custom-cart {
  background: #F8270D;
  color: white;
  height: 40px;
  width: 130px;
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s;
  border: 2px solid #F8270D;
  margin-left: 5px;
}
.product-page .main .product-detail-1-detail .quantity button.custom-cart:hover, .product-page .main .product-detail-1-detail .quantity button.custom-cart:focus {
  background: none;
  color: #F8270D;
  box-shadow: none;
  outline: none;
}
.product-page .main .product-detail-2-title .nav-tabs {
  border-bottom: 2px solid #383838;
  margin-bottom: 30px;
}
.product-page .main .product-detail-2-title .nav-tabs .nav-item {
  margin-bottom: -2px;
}
.product-page .main .product-detail-2-title .nav-tabs .nav-item .nav-link {
  padding-bottom: 11px;
  border: none;
  border-bottom: 2px solid #383838;
  transition: 0.5s;
  font-weight: bold;
}
.product-page .main .product-detail-2-title .nav-tabs .nav-item .nav-link.active, .product-page .main .product-detail-2-title .nav-tabs .nav-item .nav-link:hover {
  background: none;
  border: none;
  border-bottom: 2px solid #F8270D;
  padding-bottom: 11px;
  color: #F8270D;
}

.similar {
  margin-top: 40px;
  margin-bottom: 30px;
}
.similar h2 {
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  border-top: 2px solid #c8c8c8;
  padding-top: 20px;
}
.similar-in {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
}

.cart-page {
  margin-top: 40px;
  margin-bottom: 40px;
}
.cart-page-product {
  margin-bottom: 30px;
}
.cart-page-product table {
  border: 1px solid #e1e1e1;
}
.cart-page-product table thead {
  background: #f4f4f4;
  border: none;
}
.cart-page-product table thead th {
  border-right: 1px solid #e1e1e1;
  text-align: center;
  font-weight: 500;
}
.cart-page-product table tbody td {
  text-align: center;
}
.cart-page-product table tbody h4 {
  font-weight: bold;
}
.cart-page-product .table-dark {
  background: transparent;
}
.cart-page-product .table-responsive > .table-bordered {
  border-top: 1px solid #e1e1e1;
}
.cart-page-product-1 {
  text-align: left !important;
  color: black;
}
.cart-page-product-1 img {
  width: 100px;
  float: left;
  margin-right: 10px;
}
.cart-page-product-1 h5 {
  transition: 0.5s;
}
.cart-page-product-1 h5 a {
  color: black;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 500;
}
.cart-page-product-1 h5 a:hover {
  color: #F8270D;
}
.cart-page-product-1 i {
  margin-top: 5px;
  transition: 0.5s;
  color: black;
  font-size: 20px;
}
.cart-page-product-1 i:hover {
  color: #F8270D;
}
.cart-page-product .quantity {
  text-align: center;
}
.cart-page-product .quantity input {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #959595;
  background: none;
  color: #585858;
  outline-color: #F8270D;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-left: 5px;
}
.cart-page-product .quantity button {
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
  background: #959595;
  border: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  color: white;
  line-height: 19px;
  margin-bottom: 5px;
}
.cart-page-product .quantity button:hover {
  background: #F8270D;
}
.cart-page-product-3 h4 {
  color: #F8270D;
}
.cart-page-total {
  border: 1px solid #e1e1e1;
  padding: 10px;
  margin-bottom: 30px;
  color: black;
}
.cart-page-total-title {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 10px;
  font-weight: 500;
}
.cart-page-total .table-dark {
  background: none;
  font-size: 12px;
}
.cart-page-total .table-dark .total-over {
  color: #F8270D;
}
.cart-page-total input {
  height: 40px;
  width: 100%;
  border: 1px solid #e1e1e1;
  background: none;
  padding-left: 10px;
  font-style: italic;
  color: #cccccc;
}
.cart-page-total input:focus {
  outline-color: #F8270D;
}
.cart-page-total button {
  background: #383838;
  color: #cccccc;
  border: none;
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.cart-page-total button:hover, .cart-page-total button:focus {
  background: #F8270D;
  color: black;
  outline: none;
}
.cart-page-total-btn {
  border-top: 1px solid #e1e1e1;
  margin-top: 10px;
  padding-top: 10px;
}
.cart-page-total-btn button {
  text-transform: uppercase;
  width: 100%;
  height: 40px;
  color: white;
  background: #F8270D;
  border: 2px solid #F8270D;
  border-radius: 3px;
}
.cart-page-total-btn button a {
  font-weight: bold;
  color: white;
}
.cart-page-total-btn button:hover {
  background: none;
}
.cart-page-total-btn button:hover a {
  color: #F8270D;
}
.cart-page-btn button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #383838;
  margin-left: 5px;
  margin-bottom: 30px;
}
.cart-page-btn button:hover {
  color: white;
  background: #F8270D;
}
.cart-page-btn a {
  text-transform: uppercase;
  padding: 10px 15px;
  background: #cccccc;
  color: #383838;
  transition: 0.3s;
  border-radius: 3px;
  font-weight: 500;
}
.cart-page-btn a:hover {
  color: white;
  background: #F8270D;
}

.pay-page {
  margin: 40px 0;
  color: black;
}
.pay-page-title h4 {
  margin-bottom: 20px;
  font-weight: bold;
  color: black;
}
.pay-page .pay-info-1 {
  border: 1px solid #e1e1e1;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 30px;
}
.pay-page .pay-info-1 input,
.pay-page .pay-info-1 select {
  height: 40px;
  border: 1px solid #e1e1e1;
  background: none;
  color: #585858;
  font-size: 14px;
}
.pay-page .pay-info-1 input:hover, .pay-page .pay-info-1 input:focus,
.pay-page .pay-info-1 select:hover,
.pay-page .pay-info-1 select:focus {
  box-shadow: 0 0 0 0.1rem #F8270D;
}
.pay-page .pay-info-1 textarea {
  background: none;
  border: 1px solid #e1e1e1;
  height: 100px;
  font-size: 14px;
}
.pay-page .pay-info-1 textarea:hover, .pay-page .pay-info-1 textarea:focus {
  box-shadow: 0 0 0 0.1rem #F8270D;
}
.pay-page .pay-info-1 .form-group {
  margin-bottom: 20px;
}
.pay-page .pay-info-2 {
  border: 1px solid #e1e1e1;
  padding: 10px;
  color: #585858;
}
.pay-page .pay-info-2 td {
  text-align: center;
}
.pay-page .pay-info-2 .pay-total {
  color: #F8270D;
  font-weight: 500;
  font-size: 16px;
}
.pay-page .pay-info-2-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}
.pay-page .pay-info-2-btn button {
  background: none;
  color: #585858;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}
.pay-page .pay-info-2-btn button:focus {
  outline: none;
}
.pay-page .pay-info-2-btn a {
  background: #cccccc;
  color: #585858;
  padding: 10px 15px;
  border-radius: 3px;
  transition: 0.3s;
  font-weight: 500;
  text-transform: uppercase;
}
.pay-page .pay-info-2-btn a:hover {
  background: #F8270D;
  color: white;
}
.pay-page .pay-info-2-btn .order-btn {
  padding: 8px 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background: #F8270D;
  border: 2px solid #F8270D;
}
.pay-page .pay-info-2-btn .order-btn:hover {
  background: none;
  color: #F8270D;
}
.pay-page .pay-order {
  border: 1px solid #e1e1e1;
  padding: 10px;
  margin-bottom: 30px;
}
.pay-page .pay-order p {
  margin: 0;
}
.pay-page .pay-order .box-pay-order {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #e1e1e1;
}
.pay-page .pay-order .box-pay-order img {
  width: 100px;
  margin-right: 10px;
  float: left;
  position: relative;
}
.pay-page .pay-order .box-pay-order h5 {
  margin-bottom: 5px;
}
.pay-page .pay-order .box-pay-order h5 a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  transition: 0.5s;
}
.pay-page .pay-order .box-pay-order h5 a:hover {
  color: #F8270D;
}
.pay-page .pay-order .box-pay-order h4 {
  color: #F8270D;
}

.page-text h2 {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.page-text img {
  margin-bottom: 20px;
}

@media (min-width: 1290px) {
  .container {
    max-width: 1260px;
  }
}
@media (max-width: 1290px) {
  body {
    font-size: calc(9px + 0.4vmax);
  }

  .menu .main-menu .nav {
    margin: 20px 8px;
  }
  .menu .main-menu .nav li a {
    font-size: 14px;
  }

  .banner .banner-in .category ul {
    height: 355px;
  }

  .product-page .main .main-product {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .similar-in {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 1200px) {
  body {
    margin-left: 15px;
  }

  .menu .main-menu .nav {
    margin: 20px 0;
  }
  .menu .main-menu .nav li {
    padding: 0 8px;
  }

  .banner .banner-in .category ul {
    height: 265px;
  }

  .box-product-detail h4 {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  .main-menu .nav {
    transform: none !important;
  }
}
@media (max-width: 992px) {
  .ssm-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 10;
  }

  .header-top {
    font-size: 12px;
  }

  .menu {
    height: 60px;
  }
  .menu .logo {
    height: 40px;
    margin-right: -50px;
  }
  .menu .main-menu .toggleMenu, .menu .main-menu .search-btn, .menu .main-menu .cart-btn-mobile {
    display: block;
    position: absolute;
    left: 0px;
    top: -8px;
    margin: 15px 0;
    z-index: 10;
    color: white;
    border-radius: 3px;
    padding: 1px 8px;
  }
  .menu .main-menu .cart-btn-mobile {
    font-size: 20px;
    left: 30px;
    top: -6px;
  }
  .menu .main-menu .cart-btn-mobile span {
    background: #F8270D;
    font-size: 8px;
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 12px;
    border-radius: 50%;
    position: absolute;
    margin-left: -7px;
  }
  .menu .main-menu .search-btn {
    font-size: 20px;
    left: 60px;
    top: -6px;
  }
  .menu .main-menu .nav {
    display: block;
    text-align: left;
    background: rgba(0, 0, 0, 0.93);
    position: absolute;
    width: 300px;
    transform: translate(-300%, 0);
    margin-top: -2px;
    transition: 500ms;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    opacity: 0;
    padding-top: 30px;
    left: 0;
    z-index: 1000;
  }
  .menu .main-menu .nav.ssm-nav-visible {
    opacity: 1;
  }
  .menu .main-menu .nav li {
    display: block;
    padding: 20px 30px;
  }
  .menu .main-menu .nav li:first-child {
    margin-top: 30px;
  }
  .menu .main-menu .nav li:hover a {
    border-bottom: 0;
  }
  .menu .main-menu .nav li a {
    line-height: 1.5;
    padding: 0;
    padding-bottom: 5px;
    font-weight: 500;
  }
  .menu .main-menu .nav li .active {
    border-bottom: 1px solid #F8270D;
    background: none;
  }
  .menu-close {
    transform: scale(0) rotate(-180deg);
    position: absolute;
  }
  .menu .login-btn, .menu .login-complete-btn {
    line-height: 55px;
    margin-right: 40px;
  }

  .nav-close {
    position: absolute;
    font-size: 24px;
    top: 10px;
    right: 10px;
    color: white;
    width: 100px;
    text-align: right;
  }

  .banner .banner-in {
    grid-template-columns: 220px calc(100% - 220px);
  }
  .banner .banner-in .banner-right {
    padding-right: 30px;
  }
  .banner .banner-in .banner-right iframe {
    height: 270px;
  }
  .banner .banner-in .category ul {
    height: 225px;
  }

  .product-page .container {
    display: block;
  }
  .product-page .container .left {
    position: fixed;
    top: 0;
    left: 0;
    background: #f4f4f4;
    width: 270px;
    height: 100vh;
    z-index: 1000;
    padding: 10px;
    overflow: scroll;
    border-right: 1px solid #e1e1e1;
    transform: translateX(-300px);
    transition: 0.3s;
  }
  .product-page .container .left .filter-close {
    font-size: 24px;
    text-align: right;
    position: fixed;
    right: 0px;
    top: 0;
    background: #252525;
    color: white;
    padding: 0 5px;
  }
  .product-page .container .left.left-out {
    transform: translateX(0);
  }
  .product-page .container .filter-btn {
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
    background: #F8270D;
    color: white;
    text-align: center;
    border-radius: 5px;
  }
  .product-page .container .filter-btn i {
    padding-right: 10px;
  }

  .similar-in {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .menu {
    position: fixed;
    width: 100%;
    top: 0;
    height: 50px;
  }
  .menu .container {
    position: absolute;
    max-width: 100%;
  }
  .menu .currency {
    margin: 7px 0;
  }
  .menu .main-menu .toggleMenu {
    padding: 0;
    top: -10px;
  }
  .menu .main-menu .nav {
    left: -23px;
  }

  .header-top {
    padding-top: 60px;
  }

  .header-bottom {
    background: #f4f4f4;
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 900;
    transition: 0.3s;
    transform: translateY(-100%);
  }
  .header-bottom .search input {
    margin: 10px 0;
  }
  .header-bottom.header-bottom-out {
    transform: translateY(0%);
  }

  .banner {
    padding-top: 0;
  }

  .product-page .main .main-custom {
    grid-template-columns: calc(100% - 190px) 170px;
    grid-column-gap: 20px;
  }
  .product-page .main .main-custom .sort select {
    width: 100%;
  }
  .product-page .main .main-product {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
  }

  .box-product {
    margin-bottom: 15px;
  }

  .similar-in {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
  }

  .cart-page-product-1 img {
    float: none;
    margin-bottom: 5px;
    width: 100%;
  }
}
@media (max-width: 575px) {
  .cart {
    width: 300px;
    grid-template-rows: 60px calc(100% - 120px) 60px;
  }
  .cart-header {
    padding: 10px 20px;
  }
  .cart-footer a {
    font-size: 14px;
  }

  .banner .banner-in {
    grid-template-columns: auto;
    padding: 15px;
  }
  .banner .banner-in .banner-right {
    padding-right: 0;
    order: -1;
  }
  .banner .banner-in .banner-right iframe {
    padding-bottom: 15px;
  }
  .banner .banner-in .category {
    margin-bottom: 0;
  }

  .box-product-detail h4 span {
    display: block;
    margin-right: 0;
  }

  .product-5 .title-cate {
    margin-bottom: 70px;
  }
  .product-5 .title-cate h2 a {
    font-size: 20px;
  }
  .product-5 .title-right {
    top: 45px;
  }
  .product-5 .dash-title {
    width: 90%;
  }

  .care .title-cate {
    margin-bottom: 70px;
  }
  .care .owl-theme .owl-nav {
    top: -70px;
  }

  .bread-crumb {
    padding: 10px 0;
  }
}
@media (max-width: 354px) {
  .header-top {
    font-size: 11px;
  }
  .header-top ul li a {
    padding: 0 7px;
  }

  .quickview .quantity button.custom-cart {
    padding: 0 12px;
    font-size: 12px;
    margin-left: 5px;
  }
}

/*# sourceMappingURL=layout.css.map */
