extends inc

block article
  article
    section.bread-crumb
      .container
        .bc-icons
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='index.html') Trang chủ
              li.breadcrumb-item
                a(href='san-pham.html') Sản phẩm
              li.breadcrumb-item.active Curabitur egestas male egesta egesta

    section.product-page
      .container
        .left
          .seller-product
            h3 sản phẩm bán chạy

            .swiper-container.swiper-seller
              .swiper-wrapper
                .swiper-slide 
                  .box-product-seller
                    .box-product-seller-img
                      a(href='chi-tiet-san-pham.html', title='Nhấn để chi xem tiết')
                        img(src='../img/product-1.png')
                    .box-product-seller-detail
                      h6 Xuất xứ: Hàn Quốc
                      h5
                        a(href='chi-tiet-san-pham.html', title='Curabitur egestas male egesta egesta')
                          | Curabitur egestas male egesta egesta
                      p
                        span 3.000.000 đ
                        | 2.999.999 đ
                      
                .swiper-slide 
                  .box-product-seller
                    .box-product-seller-img
                      a(href='chi-tiet-san-pham.html', title='Nhấn để chi xem tiết')
                        img(src='../img/product-2.png')
                    .box-product-seller-detail
                      h6 Xuất xứ: Hàn Quốc
                      h5
                        a(href='chi-tiet-san-pham.html', title='Curabitur egestas male egesta egesta')
                          | Curabitur egestas male egesta egesta
                      p
                        span 3.000.000 đ
                        | 2.999.999 đ
                      
                .swiper-slide 
                  .box-product-seller
                    .box-product-seller-img
                      a(href='chi-tiet-san-pham.html', title='Nhấn để chi xem tiết')
                        img(src='../img/product-1.png')
                    .box-product-seller-detail
                      h6 Xuất xứ: Hàn Quốc
                      h5
                        a(href='chi-tiet-san-pham.html', title='Curabitur egestas male egesta egesta')
                          | Curabitur egestas male egesta egesta
                      p
                        span 3.000.000 đ
                        | 2.999.999 đ
                      
                .swiper-slide 
                  .box-product-seller
                    .box-product-seller-img
                      a(href='chi-tiet-san-pham.html', title='Nhấn để chi xem tiết')
                        img(src='../img/product-2.png')
                    .box-product-seller-detail
                      h6 Xuất xứ: Hàn Quốc
                      h5
                        a(href='chi-tiet-san-pham.html', title='Curabitur egestas male egesta egesta')
                          | Curabitur egestas male egesta egesta
                      p
                        span 3.000.000 đ
                        | 2.999.999 đ
                      
                .swiper-slide 
                  .box-product-seller
                    .box-product-seller-img
                      a(href='chi-tiet-san-pham.html', title='Nhấn để chi xem tiết')
                        img(src='../img/product-1.png')
                    .box-product-seller-detail
                      h6 Xuất xứ: Hàn Quốc
                      h5
                        a(href='chi-tiet-san-pham.html', title='Curabitur egestas male egesta egesta')
                          | Curabitur egestas male egesta egesta
                      p
                        span 3.000.000 đ
                        | 2.999.999 đ
                      
                .swiper-slide 
                  .box-product-seller
                    .box-product-seller-img
                      a(href='chi-tiet-san-pham.html', title='Nhấn để chi xem tiết')
                        img(src='../img/product-2.png')
                    .box-product-seller-detail
                      h6 Xuất xứ: Hàn Quốc
                      h5
                        a(href='chi-tiet-san-pham.html', title='Curabitur egestas male egesta egesta')
                          | Curabitur egestas male egesta egesta
                      p
                        span 3.000.000 đ
                        | 2.999.999 đ
                      
                .swiper-slide 
                  .box-product-seller
                    .box-product-seller-img
                      a(href='chi-tiet-san-pham.html', title='Nhấn để chi xem tiết')
                        img(src='../img/product-1.png')
                    .box-product-seller-detail
                      h6 Xuất xứ: Hàn Quốc
                      h5
                        a(href='chi-tiet-san-pham.html', title='Curabitur egestas male egesta egesta')
                          | Curabitur egestas male egesta egesta
                      p
                        span 3.000.000 đ
                        | 2.999.999 đ

                .swiper-slide 
                  .box-product-seller
                    .box-product-seller-img
                      a(href='chi-tiet-san-pham.html', title='Nhấn để chi xem tiết')
                        img(src='../img/product-2.png')
                    .box-product-seller-detail
                      h6 Xuất xứ: Hàn Quốc
                      h5
                        a(href='chi-tiet-san-pham.html', title='Curabitur egestas male egesta egesta')
                          | Curabitur egestas male egesta egesta
                      p
                        span 3.000.000 đ
                        | 2.999.999 đ
                      
                .swiper-slide 
                  .box-product-seller
                    .box-product-seller-img
                      a(href='chi-tiet-san-pham.html', title='Nhấn để chi xem tiết')
                        img(src='../img/product-1.png')
                    .box-product-seller-detail
                      h6 Xuất xứ: Hàn Quốc
                      h5
                        a(href='chi-tiet-san-pham.html', title='Curabitur egestas male egesta egesta')
                          | Curabitur egestas male egesta egesta
                      p
                        span 3.000.000 đ
                        | 2.999.999 đ
                
              .swiper-button-next
              .swiper-button-prev
        
          .banner-left
            a(href='san-pham.html')
              img(src="../img/banner-3.png")
            a(href='san-pham.html')
              img(src="../img/banner-1.png")

        .main
          .product-detail
            .product-detail-1
              .row
                .col-md-6
                  .product-detail-1-img
                    img.main-image.xzoom(src='../img/product-1.png', xoriginal='../img/product-1.png')
                    .xzoom-thumbs
                      .owl-carousel.xzoom-carousel.owl-theme
                        .item
                          a(href='../img/product-1.png')
                            img.xzoom-gallery(src='../img/product-1.png', xpreview='../img/product-1.png')
                        .item
                          a(href='../img/product-2.png')
                            img.xzoom-gallery(src='../img/product-2.png', xpreview='../img/product-2.png')
                        .item
                          a(href='../img/product-1.png')
                            img.xzoom-gallery(src='../img/product-1.png', xpreview='../img/product-1.png')
                        .item
                          a(href='../img/product-2.png')
                            img.xzoom-gallery(src='../img/product-2.png', xpreview='../img/product-2.png')
                        .item
                          a(href='../img/product-1.png')
                            img.xzoom-gallery(src='../img/product-1.png', xpreview='../img/product-1.png')
                        .item
                          a(href='../img/product-2.png')
                            img.xzoom-gallery(src='../img/product-2.png', xpreview='../img/product-2.png')
                .col-md-6
                  .product-detail-1-detail
                    h2 Logitech G502 Proteus Spectrum
                    p
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                    h4.price-product
                      | 699.000 đ 
                      span.price-default 700.000 đ
                    h5
                      | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                    .quantity
                      span Số lượng: 
                      button.waves-effect.waves-light -
                      input(type='number', value='1', min='1')
                      button.waves-effect.waves-light +
                      button.custom-cart thêm vào giỏ
            .product-detail-2
              .product-detail-2-title
                ul.nav.nav-tabs.justify-content-center(role='tablist')
                  li.nav-item
                    a#desc-1-tab.nav-link.active(data-toggle='tab', href='#desc-1', role='tab', aria-controls='desc-1', aria-selected='true')
                      | Chi tiết sản phẩm
              .tab-content
                #desc-1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='desc-1-tab')
                  p
                    | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.
                  p
                    | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.
                  p
                    | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.
                  p
                    | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.
          
    section.similar
      .container
        h2 Sản phẩm liên quan
        .similar-in
          .box-product
            .box-product-status
              span.new mới
              span.sale 0.1%

            .box-product-img
              a(href='chi-tiet-san-pham.html', title='Nhấn để xem chi tiết')
                img(src='../img/product-2.png')
              .box-product-img-custom
                a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus
                a.custom-cart(title='Xem vào giỏ')
                  i.mdi.mdi-cart

            .box-product-detail.text-center
              h6 Xuất xứ: Hàn Quốc
              h5 
                a(href='chi-tiet-san-pham.html', title='Curabitur egestas malesuada') Curabitur egestas malesuada
              h4
                span 3.000.000 đ
                | 2.999.999 đ

          .box-product
            .box-product-status
              span.new mới
              span.sale 0.1%

            .box-product-img
              a(href='chi-tiet-san-pham.html', title='Nhấn để xem chi tiết')
                img(src='../img/product-2.png')
              .box-product-img-custom
                a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus
                a.custom-cart(title='Xem vào giỏ')
                  i.mdi.mdi-cart

            .box-product-detail.text-center
              h6 Xuất xứ: Hàn Quốc
              h5 
                a(href='chi-tiet-san-pham.html', title='Curabitur egestas malesuada') Curabitur egestas malesuada
              h4
                span 3.000.000 đ
                | 2.999.999 đ

          .box-product
            .box-product-status
              span.new mới
              span.sale 0.1%

            .box-product-img
              a(href='chi-tiet-san-pham.html', title='Nhấn để xem chi tiết')
                img(src='../img/product-2.png')
              .box-product-img-custom
                a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus
                a.custom-cart(title='Xem vào giỏ')
                  i.mdi.mdi-cart

            .box-product-detail.text-center
              h6 Xuất xứ: Hàn Quốc
              h5 
                a(href='chi-tiet-san-pham.html', title='Curabitur egestas malesuada') Curabitur egestas malesuada
              h4
                span 3.000.000 đ
                | 2.999.999 đ

          .box-product
            .box-product-status
              span.new mới
              span.sale 0.1%

            .box-product-img
              a(href='chi-tiet-san-pham.html', title='Nhấn để xem chi tiết')
                img(src='../img/product-2.png')
              .box-product-img-custom
                a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus
                a.custom-cart(title='Xem vào giỏ')
                  i.mdi.mdi-cart

            .box-product-detail.text-center
              h6 Xuất xứ: Hàn Quốc
              h5 
                a(href='chi-tiet-san-pham.html', title='Curabitur egestas malesuada') Curabitur egestas malesuada
              h4
                span 3.000.000 đ
                | 2.999.999 đ

          .box-product
            .box-product-status
              span.new mới
              span.sale 0.1%

            .box-product-img
              a(href='chi-tiet-san-pham.html', title='Nhấn để xem chi tiết')
                img(src='../img/product-2.png')
              .box-product-img-custom
                a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus
                a.custom-cart(title='Xem vào giỏ')
                  i.mdi.mdi-cart

            .box-product-detail.text-center
              h6 Xuất xứ: Hàn Quốc
              h5 
                a(href='chi-tiet-san-pham.html', title='Curabitur egestas malesuada') Curabitur egestas malesuada
              h4
                span 3.000.000 đ
                | 2.999.999 đ

          .box-product
            .box-product-status
              span.new mới
              span.sale 0.1%

            .box-product-img
              a(href='chi-tiet-san-pham.html', title='Nhấn để xem chi tiết')
                img(src='../img/product-2.png')
              .box-product-img-custom
                a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus
                a.custom-cart(title='Xem vào giỏ')
                  i.mdi.mdi-cart

            .box-product-detail.text-center
              h6 Xuất xứ: Hàn Quốc
              h5 
                a(href='chi-tiet-san-pham.html', title='Curabitur egestas malesuada') Curabitur egestas malesuada
              h4
                span 3.000.000 đ
                | 2.999.999 đ

          .box-product
            .box-product-status
              span.new mới
              span.sale 0.1%

            .box-product-img
              a(href='chi-tiet-san-pham.html', title='Nhấn để xem chi tiết')
                img(src='../img/product-2.png')
              .box-product-img-custom
                a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus
                a.custom-cart(title='Xem vào giỏ')
                  i.mdi.mdi-cart

            .box-product-detail.text-center
              h6 Xuất xứ: Hàn Quốc
              h5 
                a(href='chi-tiet-san-pham.html', title='Curabitur egestas malesuada') Curabitur egestas malesuada
              h4
                span 3.000.000 đ
                | 2.999.999 đ

          .box-product
            .box-product-status
              span.new mới
              span.sale 0.1%

            .box-product-img
              a(href='chi-tiet-san-pham.html', title='Nhấn để xem chi tiết')
                img(src='../img/product-2.png')
              .box-product-img-custom
                a.custom-quickview(title='Xem nhanh', data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus
                a.custom-cart(title='Xem vào giỏ')
                  i.mdi.mdi-cart

            .box-product-detail.text-center
              h6 Xuất xứ: Hàn Quốc
              h5 
                a(href='chi-tiet-san-pham.html', title='Curabitur egestas malesuada') Curabitur egestas malesuada
              h4
                span 3.000.000 đ
                | 2.999.999 đ

          