extends inc

block article
  article
    section.bread-crumb
      .container
        .bc-icons
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='index.html') Trang chủ
              li.breadcrumb-item.active Dịch vụ mua hộ

    section.page-text
      .container
        h2.text-center dịch vụ mua hộ

        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et doloremque, distinctio iusto qui dolor atque rerum? Nesciunt ullam molestiae amet, et delectus saepe qui asperiores omnis reiciendis ut illo ipsa?
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et doloremque, distinctio iusto qui dolor atque rerum? Nesciunt ullam molestiae amet, et delectus saepe qui asperiores omnis reiciendis ut illo ipsa?
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et doloremque, distinctio iusto qui dolor atque rerum? Nesciunt ullam molestiae amet, et delectus saepe qui asperiores omnis reiciendis ut illo ipsa?
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et doloremque, distinctio iusto qui dolor atque rerum? Nesciunt ullam molestiae amet, et delectus saepe qui asperiores omnis reiciendis ut illo ipsa?
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et doloremque, distinctio iusto qui dolor atque rerum? Nesciunt ullam molestiae amet, et delectus saepe qui asperiores omnis reiciendis ut illo ipsa?
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et doloremque, distinctio iusto qui dolor atque rerum? Nesciunt ullam molestiae amet, et delectus saepe qui asperiores omnis reiciendis ut illo ipsa?

        img(src='../img/banner-2.png')

        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et doloremque, distinctio iusto qui dolor atque rerum? Nesciunt ullam molestiae amet, et delectus saepe qui asperiores omnis reiciendis ut illo ipsa?
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et doloremque, distinctio iusto qui dolor atque rerum? Nesciunt ullam molestiae amet, et delectus saepe qui asperiores omnis reiciendis ut illo ipsa?
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et doloremque, distinctio iusto qui dolor atque rerum? Nesciunt ullam molestiae amet, et delectus saepe qui asperiores omnis reiciendis ut illo ipsa?
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et doloremque, distinctio iusto qui dolor atque rerum? Nesciunt ullam molestiae amet, et delectus saepe qui asperiores omnis reiciendis ut illo ipsa?
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et doloremque, distinctio iusto qui dolor atque rerum? Nesciunt ullam molestiae amet, et delectus saepe qui asperiores omnis reiciendis ut illo ipsa?
        