<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Xách Tay Việt Hàn</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/mdb.min.css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../css/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="../css/xzoom.css"/>
    <link rel="stylesheet" href="../css/magnific-popup.css"/>
    <link rel="stylesheet" href="../css/animate.min.css"/>
    <link rel="stylesheet" href="../css/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="../css/materialdesignicons.min.css"/>
    <link rel="stylesheet" href="../css/sweetalert2.min.css"/>
    <link rel="stylesheet" href="../css/swiper.min.css"/>
    <link rel="stylesheet" href="../css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="../css/layout.css"/>
    <link rel="shortcut icon" href="../img/favicon.png"/>
  </head>
  <body>
    <div class="go-top wow zoomInRight" title="Lên đầu trang" data-wow-duration="2s"><span></span><span></span></div>
    <header>
      <section class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-center text-md-left mb-2 mb-md-0">
              <ul>
                <li> <a href="number:+84703531111"><i class="mdi mdi-phone-classic"></i>+84 70 353 1111</a></li>
                <li> <a href="mailto:xachtayviethan.com@gmail.com"><i class="mdi mdi-email-variant"></i>xachtayviethan.com@gmail.com</a></li>
              </ul>
            </div>
            <div class="col-md-6 text-center text-md-right">
              <ul>
                <li> <a href="youtube.com"><i class="mdi mdi-youtube"></i>Kênh Video Mua Sắm</a></li>
                <li> <a href="facebook.com"><i class="mdi mdi-facebook-box"></i>Xách Tay Việt Hàn</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="header-bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-3 d-none d-md-block">
              <div class="logo"><a href="index.html"><img src="../img/logo.png"/></a></div>
            </div>
            <div class="col-md-6">
              <div class="search">
                <form>
                  <input class="form-control" type="text" placeholder="Nhập từ khóa"/>
                  <button type="submit"><i class="mdi mdi-magnify"></i></button>
                </form>
              </div>
            </div>
            <div class="col-md-3 text-right d-none d-md-block">
              <div class="cart-btn" title="Nhấn để xem giỏ hàng"><i class="mdi mdi-chevron-down"></i>giỏ hàng
                <div class="cart-icon"><i class="mdi mdi-cart"></i><span>10</span></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="menu wow" data-wow-duration=".2s">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-md-11">
              <div class="main-menu"><a class="toggleMenu ssm-toggle-nav"><i class="mdi mdi-menu"></i></a><a class="search-btn d-block d-md-none"><i class="mdi mdi-magnify"></i></a>
                <div class="cart-btn-mobile d-block d-md-none"><i class="mdi mdi-cart"></i><span>10</span></div>
                <ul class="nav">
                  <div class="nav-close"><i class="mdi mdi-close d-block d-lg-none"></i></div>
                  <li class="nav-item"><a href="index.html">Trang chủ</a></li>
                  <li class="nav-item"><a href="san-pham.html">hàng mới về</a></li>
                  <li class="nav-item"><a href="san-pham.html">đang giảm giá</a></li>
                  <li class="nav-item"><a href="dich-vu-mua-ho.html">dịch vụ mua hộ</a></li>
                  <li class="nav-item"><a href="dieu-khoan.html">điều khoản</a></li>
                  <li class="nav-item"><a href="tim-hang-va-dam-phan.html">tìm hàng và đàm phán</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-md-1">
              <div class="currency">
                <select class="form-control">
                  <option value="">Đơn vị tiền tệ</option>
                  <option value="">VND</option>
                  <option value="">WON</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="cart">
        <div class="cart-header">
          <div class="row">
            <div class="col-2"><i class="mdi mdi-close cart-close" title="Đóng"></i></div>
            <div class="col-8 text-center">
              <h3>GIỎ HÀNG</h3>
            </div>
            <div class="col-2 text-right"><i class="mdi mdi-cart"></i><span>10</span></div>
          </div>
        </div>
        <div class="cart-body">
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="box-product-cart-detail-quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="box-product-cart-detail-quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="box-product-cart-detail-quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="box-product-cart-detail-quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="box-product-cart-detail-quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="box-product-cart-detail-quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="box-product-cart-detail-quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="box-product-cart-detail-quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="box-product-cart-detail-quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
        </div>
        <div class="cart-footer text-center"><a href="gio-hang.html">vào giỏ hàng</a><a href="thanh-toan.html">thanh toán</a></div>
      </div>
      <div class="ssm-overlay ssm-toggle-nav"></div>
      <div class="overlay"></div>
    </header>
    <article>
      <section class="bread-crumb">
        <div class="container">
          <div class="bc-icons">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="san-pham.html">Sản phẩm</a></li>
                <li class="breadcrumb-item active">Curabitur egestas male egesta egesta</li>
              </ol>
            </nav>
          </div>
        </div>
      </section>
      <section class="product-page">
        <div class="container">
          <div class="left">
            <div class="seller-product">
              <h3>sản phẩm bán chạy</h3>
              <div class="swiper-container swiper-seller">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"> 
                    <div class="box-product-seller">
                      <div class="box-product-seller-img"><a href="chi-tiet-san-pham.html" title="Nhấn để chi xem tiết"><img src="../img/product-1.png"/></a></div>
                      <div class="box-product-seller-detail">
                        <h6>Xuất xứ: Hàn Quốc</h6>
                        <h5><a href="chi-tiet-san-pham.html" title="Curabitur egestas male egesta egesta">Curabitur egestas male egesta egesta</a></h5>
                        <p><span>3.000.000 đ</span>2.999.999 đ</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="box-product-seller">
                      <div class="box-product-seller-img"><a href="chi-tiet-san-pham.html" title="Nhấn để chi xem tiết"><img src="../img/product-2.png"/></a></div>
                      <div class="box-product-seller-detail">
                        <h6>Xuất xứ: Hàn Quốc</h6>
                        <h5><a href="chi-tiet-san-pham.html" title="Curabitur egestas male egesta egesta">Curabitur egestas male egesta egesta</a></h5>
                        <p><span>3.000.000 đ</span>2.999.999 đ</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="box-product-seller">
                      <div class="box-product-seller-img"><a href="chi-tiet-san-pham.html" title="Nhấn để chi xem tiết"><img src="../img/product-1.png"/></a></div>
                      <div class="box-product-seller-detail">
                        <h6>Xuất xứ: Hàn Quốc</h6>
                        <h5><a href="chi-tiet-san-pham.html" title="Curabitur egestas male egesta egesta">Curabitur egestas male egesta egesta</a></h5>
                        <p><span>3.000.000 đ</span>2.999.999 đ</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="box-product-seller">
                      <div class="box-product-seller-img"><a href="chi-tiet-san-pham.html" title="Nhấn để chi xem tiết"><img src="../img/product-2.png"/></a></div>
                      <div class="box-product-seller-detail">
                        <h6>Xuất xứ: Hàn Quốc</h6>
                        <h5><a href="chi-tiet-san-pham.html" title="Curabitur egestas male egesta egesta">Curabitur egestas male egesta egesta</a></h5>
                        <p><span>3.000.000 đ</span>2.999.999 đ</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="box-product-seller">
                      <div class="box-product-seller-img"><a href="chi-tiet-san-pham.html" title="Nhấn để chi xem tiết"><img src="../img/product-1.png"/></a></div>
                      <div class="box-product-seller-detail">
                        <h6>Xuất xứ: Hàn Quốc</h6>
                        <h5><a href="chi-tiet-san-pham.html" title="Curabitur egestas male egesta egesta">Curabitur egestas male egesta egesta</a></h5>
                        <p><span>3.000.000 đ</span>2.999.999 đ</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="box-product-seller">
                      <div class="box-product-seller-img"><a href="chi-tiet-san-pham.html" title="Nhấn để chi xem tiết"><img src="../img/product-2.png"/></a></div>
                      <div class="box-product-seller-detail">
                        <h6>Xuất xứ: Hàn Quốc</h6>
                        <h5><a href="chi-tiet-san-pham.html" title="Curabitur egestas male egesta egesta">Curabitur egestas male egesta egesta</a></h5>
                        <p><span>3.000.000 đ</span>2.999.999 đ</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="box-product-seller">
                      <div class="box-product-seller-img"><a href="chi-tiet-san-pham.html" title="Nhấn để chi xem tiết"><img src="../img/product-1.png"/></a></div>
                      <div class="box-product-seller-detail">
                        <h6>Xuất xứ: Hàn Quốc</h6>
                        <h5><a href="chi-tiet-san-pham.html" title="Curabitur egestas male egesta egesta">Curabitur egestas male egesta egesta</a></h5>
                        <p><span>3.000.000 đ</span>2.999.999 đ</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="box-product-seller">
                      <div class="box-product-seller-img"><a href="chi-tiet-san-pham.html" title="Nhấn để chi xem tiết"><img src="../img/product-2.png"/></a></div>
                      <div class="box-product-seller-detail">
                        <h6>Xuất xứ: Hàn Quốc</h6>
                        <h5><a href="chi-tiet-san-pham.html" title="Curabitur egestas male egesta egesta">Curabitur egestas male egesta egesta</a></h5>
                        <p><span>3.000.000 đ</span>2.999.999 đ</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide"> 
                    <div class="box-product-seller">
                      <div class="box-product-seller-img"><a href="chi-tiet-san-pham.html" title="Nhấn để chi xem tiết"><img src="../img/product-1.png"/></a></div>
                      <div class="box-product-seller-detail">
                        <h6>Xuất xứ: Hàn Quốc</h6>
                        <h5><a href="chi-tiet-san-pham.html" title="Curabitur egestas male egesta egesta">Curabitur egestas male egesta egesta</a></h5>
                        <p><span>3.000.000 đ</span>2.999.999 đ</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
            </div>
            <div class="banner-left"><a href="san-pham.html"><img src="../img/banner-3.png"/></a><a href="san-pham.html"><img src="../img/banner-1.png"/></a></div>
          </div>
          <div class="main">
            <div class="product-detail">
              <div class="product-detail-1">
                <div class="row">
                  <div class="col-md-6">
                    <div class="product-detail-1-img"><img class="main-image xzoom" src="../img/product-1.png" xoriginal="../img/product-1.png"/>
                      <div class="xzoom-thumbs">
                        <div class="owl-carousel xzoom-carousel owl-theme">
                          <div class="item"><a href="../img/product-1.png"><img class="xzoom-gallery" src="../img/product-1.png" xpreview="../img/product-1.png"/></a></div>
                          <div class="item"><a href="../img/product-2.png"><img class="xzoom-gallery" src="../img/product-2.png" xpreview="../img/product-2.png"/></a></div>
                          <div class="item"><a href="../img/product-1.png"><img class="xzoom-gallery" src="../img/product-1.png" xpreview="../img/product-1.png"/></a></div>
                          <div class="item"><a href="../img/product-2.png"><img class="xzoom-gallery" src="../img/product-2.png" xpreview="../img/product-2.png"/></a></div>
                          <div class="item"><a href="../img/product-1.png"><img class="xzoom-gallery" src="../img/product-1.png" xpreview="../img/product-1.png"/></a></div>
                          <div class="item"><a href="../img/product-2.png"><img class="xzoom-gallery" src="../img/product-2.png" xpreview="../img/product-2.png"/></a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="product-detail-1-detail">
                      <h2>Logitech G502 Proteus Spectrum</h2>
                      <p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p>
                      <h4 class="price-product">699.000 đ <span class="price-default">700.000 đ</span></h4>
                      <h5>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</h5>
                      <div class="quantity"><span>Số lượng: </span>
                        <button class="waves-effect waves-light">-</button>
                        <input type="number" value="1" min="1"/>
                        <button class="waves-effect waves-light">+</button>
                        <button class="custom-cart">thêm vào giỏ</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-detail-2">
                <div class="product-detail-2-title">
                  <ul class="nav nav-tabs justify-content-center" role="tablist">
                    <li class="nav-item"><a class="nav-link active" id="desc-1-tab" data-toggle="tab" href="#desc-1" role="tab" aria-controls="desc-1" aria-selected="true">Chi tiết sản phẩm</a></li>
                  </ul>
                </div>
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="desc-1" role="tabpanel" aria-labelledby="desc-1-tab">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="similar">
        <div class="container">
          <h2>Sản phẩm liên quan</h2>
          <div class="similar-in">
            <div class="box-product">
              <div class="box-product-status"><span class="new">mới</span><span class="sale">0.1%</span></div>
              <div class="box-product-img"><a href="chi-tiet-san-pham.html" title="Nhấn để xem chi tiết"><img src="../img/product-2.png"/></a>
                <div class="box-product-img-custom"><a class="custom-quickview" title="Xem nhanh" data-toggle="modal" data-target=".product-modal-1" href="#"><i class="mdi mdi-eye-plus"></i></a><a class="custom-cart" title="Xem vào giỏ"><i class="mdi mdi-cart"></i></a></div>
              </div>
              <div class="box-product-detail text-center">
                <h6>Xuất xứ: Hàn Quốc</h6>
                <h5> <a href="chi-tiet-san-pham.html" title="Curabitur egestas malesuada">Curabitur egestas malesuada</a></h5>
                <h4><span>3.000.000 đ</span>2.999.999 đ</h4>
              </div>
            </div>
            <div class="box-product">
              <div class="box-product-status"><span class="new">mới</span><span class="sale">0.1%</span></div>
              <div class="box-product-img"><a href="chi-tiet-san-pham.html" title="Nhấn để xem chi tiết"><img src="../img/product-2.png"/></a>
                <div class="box-product-img-custom"><a class="custom-quickview" title="Xem nhanh" data-toggle="modal" data-target=".product-modal-1" href="#"><i class="mdi mdi-eye-plus"></i></a><a class="custom-cart" title="Xem vào giỏ"><i class="mdi mdi-cart"></i></a></div>
              </div>
              <div class="box-product-detail text-center">
                <h6>Xuất xứ: Hàn Quốc</h6>
                <h5> <a href="chi-tiet-san-pham.html" title="Curabitur egestas malesuada">Curabitur egestas malesuada</a></h5>
                <h4><span>3.000.000 đ</span>2.999.999 đ</h4>
              </div>
            </div>
            <div class="box-product">
              <div class="box-product-status"><span class="new">mới</span><span class="sale">0.1%</span></div>
              <div class="box-product-img"><a href="chi-tiet-san-pham.html" title="Nhấn để xem chi tiết"><img src="../img/product-2.png"/></a>
                <div class="box-product-img-custom"><a class="custom-quickview" title="Xem nhanh" data-toggle="modal" data-target=".product-modal-1" href="#"><i class="mdi mdi-eye-plus"></i></a><a class="custom-cart" title="Xem vào giỏ"><i class="mdi mdi-cart"></i></a></div>
              </div>
              <div class="box-product-detail text-center">
                <h6>Xuất xứ: Hàn Quốc</h6>
                <h5> <a href="chi-tiet-san-pham.html" title="Curabitur egestas malesuada">Curabitur egestas malesuada</a></h5>
                <h4><span>3.000.000 đ</span>2.999.999 đ</h4>
              </div>
            </div>
            <div class="box-product">
              <div class="box-product-status"><span class="new">mới</span><span class="sale">0.1%</span></div>
              <div class="box-product-img"><a href="chi-tiet-san-pham.html" title="Nhấn để xem chi tiết"><img src="../img/product-2.png"/></a>
                <div class="box-product-img-custom"><a class="custom-quickview" title="Xem nhanh" data-toggle="modal" data-target=".product-modal-1" href="#"><i class="mdi mdi-eye-plus"></i></a><a class="custom-cart" title="Xem vào giỏ"><i class="mdi mdi-cart"></i></a></div>
              </div>
              <div class="box-product-detail text-center">
                <h6>Xuất xứ: Hàn Quốc</h6>
                <h5> <a href="chi-tiet-san-pham.html" title="Curabitur egestas malesuada">Curabitur egestas malesuada</a></h5>
                <h4><span>3.000.000 đ</span>2.999.999 đ</h4>
              </div>
            </div>
            <div class="box-product">
              <div class="box-product-status"><span class="new">mới</span><span class="sale">0.1%</span></div>
              <div class="box-product-img"><a href="chi-tiet-san-pham.html" title="Nhấn để xem chi tiết"><img src="../img/product-2.png"/></a>
                <div class="box-product-img-custom"><a class="custom-quickview" title="Xem nhanh" data-toggle="modal" data-target=".product-modal-1" href="#"><i class="mdi mdi-eye-plus"></i></a><a class="custom-cart" title="Xem vào giỏ"><i class="mdi mdi-cart"></i></a></div>
              </div>
              <div class="box-product-detail text-center">
                <h6>Xuất xứ: Hàn Quốc</h6>
                <h5> <a href="chi-tiet-san-pham.html" title="Curabitur egestas malesuada">Curabitur egestas malesuada</a></h5>
                <h4><span>3.000.000 đ</span>2.999.999 đ</h4>
              </div>
            </div>
            <div class="box-product">
              <div class="box-product-status"><span class="new">mới</span><span class="sale">0.1%</span></div>
              <div class="box-product-img"><a href="chi-tiet-san-pham.html" title="Nhấn để xem chi tiết"><img src="../img/product-2.png"/></a>
                <div class="box-product-img-custom"><a class="custom-quickview" title="Xem nhanh" data-toggle="modal" data-target=".product-modal-1" href="#"><i class="mdi mdi-eye-plus"></i></a><a class="custom-cart" title="Xem vào giỏ"><i class="mdi mdi-cart"></i></a></div>
              </div>
              <div class="box-product-detail text-center">
                <h6>Xuất xứ: Hàn Quốc</h6>
                <h5> <a href="chi-tiet-san-pham.html" title="Curabitur egestas malesuada">Curabitur egestas malesuada</a></h5>
                <h4><span>3.000.000 đ</span>2.999.999 đ</h4>
              </div>
            </div>
            <div class="box-product">
              <div class="box-product-status"><span class="new">mới</span><span class="sale">0.1%</span></div>
              <div class="box-product-img"><a href="chi-tiet-san-pham.html" title="Nhấn để xem chi tiết"><img src="../img/product-2.png"/></a>
                <div class="box-product-img-custom"><a class="custom-quickview" title="Xem nhanh" data-toggle="modal" data-target=".product-modal-1" href="#"><i class="mdi mdi-eye-plus"></i></a><a class="custom-cart" title="Xem vào giỏ"><i class="mdi mdi-cart"></i></a></div>
              </div>
              <div class="box-product-detail text-center">
                <h6>Xuất xứ: Hàn Quốc</h6>
                <h5> <a href="chi-tiet-san-pham.html" title="Curabitur egestas malesuada">Curabitur egestas malesuada</a></h5>
                <h4><span>3.000.000 đ</span>2.999.999 đ</h4>
              </div>
            </div>
            <div class="box-product">
              <div class="box-product-status"><span class="new">mới</span><span class="sale">0.1%</span></div>
              <div class="box-product-img"><a href="chi-tiet-san-pham.html" title="Nhấn để xem chi tiết"><img src="../img/product-2.png"/></a>
                <div class="box-product-img-custom"><a class="custom-quickview" title="Xem nhanh" data-toggle="modal" data-target=".product-modal-1" href="#"><i class="mdi mdi-eye-plus"></i></a><a class="custom-cart" title="Xem vào giỏ"><i class="mdi mdi-cart"></i></a></div>
              </div>
              <div class="box-product-detail text-center">
                <h6>Xuất xứ: Hàn Quốc</h6>
                <h5> <a href="chi-tiet-san-pham.html" title="Curabitur egestas malesuada">Curabitur egestas malesuada</a></h5>
                <h4><span>3.000.000 đ</span>2.999.999 đ</h4>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
    <footer>
      <section class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <div class="info"> 
                <h2>Xách tay Hàn Quốc</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab, quidem ex. Numquam exercitationem, unde cupiditate id labore culpa dolorum rerum.</p>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="contact">
                <ul>
                  <li>
                    <h4>địa chỉ:</h4>
                    <h5>81, Bùi Tư Toàn, An Lạc, Bình Tân, TPHCM</h5>
                  </li>
                  <li>
                    <h4>số điện thoại:</h4>
                    <h5>+84 70 353 1111</h5>
                  </li>
                  <li>
                    <h4>email:</h4>
                    <h5>xachtayviethan.com@gmail.com</h5>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 d-none d-lg-block">
              <div class="link">
                <h4>liên kết</h4>
                <ul>
                  <li><a href="san-pham.html">Hàng mới về</a></li>
                  <li><a href="san-pham.html">Đang giảm giá</a></li>
                  <li><a href="dich-vu-mua-ho.html">Dịch vụ mua hộ</a></li>
                  <li><a href="dieu-khoan.html">Điều khoản</a></li>
                  <li><a href="tim-hang-va-dam-pham.html">Tìm hàng và Đàm phán</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 d-none d-lg-block">
              <div class="category-footer">
                <h4>danh mục sản phẩm</h4>
                <ul>
                  <li><a href="san-pham.html">Mỹ phẩm Hàn Quốc</a></li>
                  <li><a href="san-pham.html">Mỹ phẩm Hàn Quốc</a></li>
                  <li><a href="san-pham.html">Mỹ phẩm Hàn Quốc</a></li>
                  <li><a href="san-pham.html">Mỹ phẩm Hàn Quốc</a></li>
                  <li><a href="san-pham.html">Mỹ phẩm Hàn Quốc</a></li>
                  <li><a href="san-pham.html">Mỹ phẩm Hàn Quốc</a></li>
                  <li><a href="san-pham.html">Mỹ phẩm Hàn Quốc</a></li>
                  <li><a href="san-pham.html">Mỹ phẩm Hàn Quốc</a></li>
                  <li><a href="san-pham.html">Mỹ phẩm Hàn Quốc</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-bot">
            <div class="row">
              <div class="col-sm-10 text-center text-sm-left">
                <h5>Copyright @ 2019 Xach Tay Viet Han. All Reserved. Designed by Tri Viet</h5>
              </div>
              <div class="col-sm-2 text-center text-sm-right"><a href="youtube.com"><i class="mdi mdi-youtube"></i></a><a href="youtube.com"><i class="mdi mdi-facebook-box"></i></a></div>
            </div>
          </div>
        </div>
      </section>
    </footer>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/jquery.touchSwipe.min.js"></script>
    <script src="../js/jquery.slideandswipe.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/mdb.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/wow.min.js"></script>
    <script src="../js/xzoom.min.js"></script>
    <script src="../js/magnific-popup.js"></script>
    <script src="../js/jquery.fancybox.min.js"></script>
    <script src="../js/sweetalert2.min.js"></script>
    <script src="../js/swiper.min.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/layout.js"></script>
  </body>
</html>